*{
	box-sizing: border-box;
}
.content{
	display: block;
  	margin-right: auto;
  	margin-left: auto;
  	margin-top: 33px;
    max-width: 80%;
}
.main{
	background-color: #EEE;
	padding: 40px;
}
h1{
	text-align: center;
	font-size: 3em;
	font-weight: lighter;
}
h2{
	text-align: center;
	font-size: 2em;
	font-weight: lighter;
}
h3{
	text-align: center;
	font-size: 1.5em;
	font-weight: lighter;
}
.intro{
	border: 1px solid black;
	display: block;
	padding: 4px;
	margin-bottom: 20px;
	shape-margin: 5px;
}
.photo{
	display: block;
	border: 1px solid black;
	padding: 5px;
	margin-bottom: 30px;
}
.caption{
	text-align: center;
	background-color: #DDD;
	border: 1px solid green;
}
.img{
	display: block;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}
a:link{
	text-decoration: none; 
}
a:hover{
	color: rgb(189,71,0);
	text-decoration: underline;
}
a:visited{
	color: green;
}